name: Build image on pull-request
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:/container"
          file: Containerfile
          push: false
          build-args: |
            IMAGE_VERSION=test
          tags: |
            ark-ascended-server:test
