name: Build and push Docker image
on:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::839695154978:role/ark-ascended-server-gha-role
          aws-region: ap-northeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:/container"
          file: Containerfile
          push: true
          build-args: |
            IMAGE_VERSION=${{ github.event.release.tag_name }}
          tags: |
            839695154978.dkr.ecr.ap-northeast-1.amazonaws.com/ark-ascended-server:latest
            839695154978.dkr.ecr.ap-northeast-1.amazonaws.com/ark-ascended-server:${{ github.event.release.tag_name }}
